body {
	/* background-color: #df7861; */
	background-color: #fcf8e8;
	text-align: center;
	/* height: 100vh; */
	margin: 0;
	padding: 0;
}
.content {
	width: 30%;
	margin-left: 35%;
	margin-top: 10%;
	background-color: #df7861;
	border-radius: 7px;
	padding: 2%;
	box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.1);
}
.btn {
	background-color: #ecb390;
	color: rgb(0, 0, 0);
	margin: 10px;
	border-radius: 7px;
	font-size: 16px;
	padding: 3%;
	box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.1);
}
.button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn:hover {
	background-color: #d4e2d4;
}
